
.set-color{
    color: white;
}
.fix_button{
    width: 100%;
    margin: auto;
    height: 100%;
}
.setting-number{
    padding: 0.3rem;
}
.shopping-cart-items {
    position: absolute;
    z-index: 12;
    padding-top: 20px;

    li {
    margin-bottom: 18px;
    }

    img {
    float: left;
    margin-right: 12px;
    }

.item-name {
    display: block;
    padding-top: 10px;
    font-size: 16px;
}

.item-price {
    color: black;
    margin-right: 8px;
}

.item-quantity {
    color: black;
}
}
   
.cart-drop{
    width: 200px;
}
.button-card-detail{
    margin-top: 20%;
    justify-content: space-between ;
    display: flex;
}
.number-field{
    margin-top: 10px;
}
.update-cart{
    bottom: 100%;
    justify-content: space-between ;
    display: flex;
}
