
<div class="container">
    <div class="row">
        <div class="col">
            <div class="main_nav_content d-flex flex-row">
                <div class="main_nav_menu">
                    <ul class="standard_dropdown main_nav_dropdown">
                        <li><a href="http://localhost:3000/">Home<i class="fas fa-chevron-down"></i></a></li>
                        <li class="hassubs">
                            <a href="#">Pages<i class="fas fa-chevron-down"></i></a>
                            <ul>
                                <li><a href="shop.html">Shop<i class="fas fa-chevron-down"></i></a></li>
                                <li><a href="product.html">Product<i class="fas fa-chevron-down"></i></a></li>
                                <li><a href="blog.html">Blog<i class="fas fa-chevron-down"></i></a></li>
                                <li><a href="blog_single.html">Blog Post<i class="fas fa-chevron-down"></i></a></li>
                                <li><a href="regular.html">Regular Post<i class="fas fa-chevron-down"></i></a></li>
                                <li><a href="cart.html">Cart<i class="fas fa-chevron-down"></i></a></li>
                                <li><a href="contact.html">Contact<i class="fas fa-chevron-down"></i></a></li>
                            </ul>
                        </li>
                        <li><a href="blog.html">Blog<i class="fas fa-chevron-down"></i></a></li>
                        <li><a href="contact.html">Contact<i class="fas fa-chevron-down"></i></a></li>
                    </ul>
                </div>

                <!-- Menu Trigger -->

                <div class="menu_trigger_container ml-auto">
                    <div class="menu_trigger d-flex flex-row align-items-center justify-content-end">
                        <div class="menu_burger">
                            <div class="menu_trigger_text">menu</div>
                            <div class="cat_burger menu_burger_inner"><span></span><span></span><span></span></div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>